---
import Button from '@components/Button.astro'
import Sections from '@sections'
import SectionWrappers from '@section-wrappers'
---

<SectionWrappers.Simple
    color="var(--bg-color)"
    paddingTop="lg"
    paddingBottom={400}
    maxWidth="var(--max-width-content) + 300px"
>
    <Sections.Feature
        gap={3}
        justify="center"
        primary={{
            col: 12,
            align: 'center',
            title: 'Make Small Business Easy Less Hard with Ownr',
            titleVariant: 1,
            description:
                'Register, incorporate, create legal agreements, manage employees, and more—all in one place.',
        }}
    >
        <div class="contentContainer">
            <div class="buttonGroup">
                <Button variant="primary" shape="round" size="lg"
                    >Get Started</Button
                >
            </div>
        </div>
    </Sections.Feature>
    <SectionWrappers.Background.HeroPic slot="bg" />
</SectionWrappers.Simple>

<style>
    .buttonGroup {
        display: flex;
        gap: 20px;
        margin-top: 32px;
    }
    .pic {
        border-radius: 15px;
        overflow: hidden;
    }
</style>
