.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    max-width: 100%;
}

.gap-1 {
    gap: 24px;
}
.gap-2 {
    gap: 40px;
}
.gap-3 {
    gap: 56px;
}

@media screen and (max-width: 768px) {
    .gap-2 {
        gap: 24px;
    }
    .gap-3 {
        gap: 32px;
    }
}
