---
import Button from '@components/Button.astro'
import Sections from '@sections'
import SectionWrappers from '@section-wrappers'
---

<SectionWrappers.Simple color="var(--bg-color-accent-dark)" paddingTop="xsm">
    <Sections.Feature
        invertTextColor
        primary={{
            col: 12,
            align: 'center',
            feature: 'Some headline',
            title: 'Big Bold Headline For Hero',
            titleVariant: 1,
            description:
                'A subtitle which in contrast is much smaller and de-emphasized compared to the big bold headline overtop it. It is designed to give you a brief overview of the main benefit.',
        }}
    >
        <div class="buttonGroup">
            <Button variant="secondary" shape="round" size="lg"
                >Learn more</Button
            >
            <Button variant="primary" shape="round" size="lg">Learn more</Button
            >
        </div>
        <div class="videoContainer">
            <video class="video" width="100%" controls>
                <source src="/video.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    </Sections.Feature>
</SectionWrappers.Simple>

<style>
    .buttonGroup {
        display: flex;
        gap: 20px;
        margin-top: 32px;
    }
    .videoContainer {
        padding: 40px 64px;
        width: 100%;
    }
    .video {
        border-radius: 15px;
        overflow: hidden;
    }
</style>
