---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import Link from "../components/Link.astro";
import Header from "../components/react/Header";
import SimpleWrapper from "../section-wrappers/SimpleWrapper.astro";
import Feature from "../sections/Feature.astro";

const nav = [
  {
    title: 'About',
    href: '/'
  },
  {
    title: 'Services',
    href: '/'
  },
  {
    title: 'Pricing',
    href: '/'
  }
];
---

<Layout title="Welcome to Astro." description="description">
  <Header nav={nav} isTransparent client:load/>
  <main>
    <SimpleWrapper color="var(--bg-color-accent-light)" isTop class="background">
      <Feature align="left" title="What is Lorem Ipsum?" feature="Feature" description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, ">
        <div class="button-group">
          <Button variant="primary" href="/">
            hello
          </Button>
          <Link href="/" size="sm">hello</Link>
        </div>
      </Feature>
      <Feature align="center" isFullWidth title="What is Lorem Ipsum?" feature="Feature" description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, ">
        <div class="button-group">
          <Button variant="primary" href="/">
            hello
          </Button>
          <Link href="/" size="sm">hello</Link>
        </div>
      </Feature>
      <Feature align="right" title="What is Lorem Ipsum?" feature="Feature" description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, ">
        <div class="button-group">
          <Button variant="primary" href="/">
            hello
          </Button>
          <Link href="/" size="sm">hello</Link>
        </div>
    </Feature>
    </SimpleWrapper>
    <Title variant={1}>hello</Title>
    <Link href="/" size="sm">hello</Link>
    <Card>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
    </Card>

    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  </main>
</Layout>

<style>
  .background {
    background: contain no-repeat url("/burger-menu.svg");
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .button-group {
    display: flex;
    gap: 18px;
  }
</style>