---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import Link from "../components/Link.astro";
import Header from "../components/react/Header";

const nav = [
  {
    title: 'About',
    href: '/'
  },
  {
    title: 'Services',
    href: '/'
  },
  {
    title: 'Pricing',
    href: '/'
  }
];
---

<Layout title="Welcome to Astro." description="description">
  <Header nav={nav} isTransparent client:load/>
  <main>
    <Button variant="primary" href="/">
      hello
    </Button>
    <Link href="/" size="sm">hello</Link>
    <Title variant={1}>hello</Title>
    <Link href="/" size="sm">hello</Link>
    <Card>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
    </Card>

    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1024px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
    margin-top: 200px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>