---
interface Props {
    /** background color must be a valid CSS string. e.g. var(--variable) */
    color?: string;
    /** whether this wrapper is at the top of the page */
    isTop?: boolean;
}

const { color, isTop = false } = Astro.props
---

<div class={`simple ${isTop ? 'top' : ''}`} style={{ backgroundColor: color }}>
    <div class="content">
        <slot />
    </div>
</div>

<!-- wrap in another component? -->
<style>
    .simple {
        background-color: var(--bg-color);
    }
    .content {
        width: 100%;
        margin: 0 auto;
        width: var(--max-content-width);
    }
    .top {
        padding-top: 70px;
    }
</style>