---
import classnames from 'classnames';

type Size = 'xsm' | 'sm' | 'base' | 'lg';

interface Props {
    /** background color must be a valid CSS string. e.g. var(--variable) */
    color?: string;
    /** padding for the top of the section wrapper. Must be a valid CSS string. e.g. var(--variable) */
    paddingTop?: Size;
    /** padding for the bottom of the section wrapper. Must be a valid CSS string. e.g. var(--variable) */
    paddingBottom?: Size;
    /** additional classes */
    class?: string;
}

const { 
    color, 
    paddingTop = 'xsm', 
    paddingBottom = 'xsm', 
    class: className 
} = Astro.props;
const externalClasses = className ?? ''

const simpleWrapperClasses = classnames({
    simple: 'true',
    [externalClasses]: externalClasses,
});
---

<div class={simpleWrapperClasses} style={{
    background: color,
    paddingTop: `var(--section-wrapper-padding-${paddingTop})`,
    paddingBottom: `var(--section-wrapper-padding-${paddingBottom})`,
}}>
    <div class="content">
        <slot />
    </div>
</div>

<style>
    .simple {
        position: relative;
        overflow: hidden;
        background-color: var(--bg-color);
        padding: var(--section-wrapper-padding-xsm) 0;
    }
    .content {
        padding: 0 2rem;
        margin: 0 auto;
        max-width: var(--max-content-width);
    }
    .top {
        padding-top: 90px;
    }
</style>