---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    /* text */
    --text-color: #333b5f; /* a little different than --secondary color */
    --text-color-inverted: white;
    --text-sm: 16px;
    --text-base: 18px;
    /* header size */
    --h1-font-size: 38px;
    --h2-font-size: 18px;
    --footer-font-size: 15px;
    /* colors */
    --primary-color: #0377E4; /* light color */
    --secondary-color: #011e3a; /* close to black color */
    --bg-color: #f7f7f7; /* should not be completely white */
    /* widths */
    --max-content-width: 1280px;
    /* border */
    --rounded-radius: 15px;
    --card-radius: 8px;

    /* others */
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: Helvetica Neue, system-ui, sans-serif;
    background: var(--bg-color);
    font-size: var(--text-base);
    color: var(--text-color);
    /* good letter spacing for Helvetica Neue */
    letter-spacing: 0.2px;
  }
</style>
